<div class="row">
  <div class="col-sm-4 input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Usuario</span>
    </div>
    <input type="text" class="form-control user" placeholder="Username">
  </div>

  <div class="col-sm-4 input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Contraseña</span>
    </div>
    <input type="text" class="form-control user" placeholder="Password">
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary">Almacenar</button>
  </div>
</div>