<div class="params">

  <button type="button" class="btn btn-primary">Nuevo</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <td></td>
        <td>descripcion</td>
        <td>aplicacion</td>
        <td>requerido</td>
        <td>env</td>
        <td>value</td>
        <td>nombre</td>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let param of params">
        <td>
          <span class='icon' (click)="modalForEdit()"><i class="fa fa-edit"></i></span>
          <span class='icon' (click)="modalForDelete()"><i class="fa fa-trash"></i></span>
        </td>
        <td>{{ param.descripcion }}</td>
        <td>{{ param.aplicacion }}</td>
        <td>{{ param.requerido  }}</td>
        <td>{{ param.env  }}</td>
        <td>{{ param.value }}</td>
        <td>{{ param.nombre }}</td>
      </tr>
    </tbody>
  </table>
</div>

