<div class="params">

  <button type="button" class="btn btn-primary" (click)="modalForNew( template)">Nuevo</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <td></td>
        <td>descripcion</td>
        <td>aplicacion</td>
        <td>requerido</td>
        <td>env</td>
        <td>value</td>
        <td>nombre</td>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let param of paramsPage">
        <td>
          <span class='icon' (click)="modalForEdit(param, template)"><i class="fa fa-edit"></i></span>
          <span class='icon' (click)="modalForDelete(param, template)"><i class="fa fa-trash"></i></span>
        </td>
        <td>{{ param.descripcion }}</td>
        <td>{{ param.aplicacion }}</td>
        <td>{{ param.requerido  }}</td>
        <td>{{ param.env  }}</td>
        <td>{{ param.value }}</td>
        <td>{{ param.nombre }}</td>
      </tr>
    </tbody>
  </table>
  <pagination [totalItems]="params.length" [maxSize]="maxSize" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)"></pagination>
</div>


<!-- MODAL PARA LA EDICIÓN O NUEVO PARAMETRO -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-param (param)="selectedParam"></app-param>
  </div>
</ng-template>

