


<div class="form-group">
  <label for="param.descripcion">descripcion</label>
  <input  class="form-control" [(ngModel)]="param.descripcion">
</div>  


<div class="form-group">
  <label for="param.aplicacion">aplicacion</label>
  <input  class="form-control" [(ngModel)]="param.aplicacion">
</div>  

<div class="form-group">
  <label for="param.requerido">requerido</label>
  <input  class="form-control" [(ngModel)]="param.requerido">
</div>  
<div class="form-group">
  <label for="param.env">env</label>
  <input  class="form-control" [(ngModel)]="param.env">
</div>  
<div class="form-group">
  <label for="param.value">value</label>
  <input  class="form-control" [(ngModel)]="param.value">
</div>  
<div class="form-group">
  <label for="param.nombre">nombre</label>
  <input  class="form-control" [(ngModel)]="param.nombre">
</div>  

